* {
    bg-col:  #1e1e2e;
    bg-col-90: #1e1e2eE5;
    bg-col-light: #313244;
    bg-alt: #cba6f7;
    bg-alt-90: #cba6f7E5; 
    peach: #FAB387;
    peach-90: #FAB387E5;
    mauve: #cba6f7;
    mauve-90: #cba6f7E5;
    red: #f38ba8;
    red-90: #f38ba8E5;
    sky: #89dceb;
    sky-90: #89dcebE5;
    blue: #89b4fa;
    blue-90: #89b4faE5;
    green: #a6e3a1;
    green-90: #a6e3a1E5;
    fg-col: #cdd6f4;
    fg-col2: #a6adc8;
    grey: #D9E0EE;
}

